.top {
  margin-top: 10px; 
}

.pagination .active a {
  background-color: #198754 !important;
  color: #ffffff;
}

.pagination .page-item a.page-link {
  color: #198754 !important;
}


.pagination a {
  color: #198754 !important;
}

   
